funcy >= 1.17
mfd-cli-client >= 1.11.0, < 2
mfd-common-libs >= 1.11.0, <2
mfd-connect >= 7.12.0, < 8
mfd-const >= 0.23.0, < 1
mfd-dcb >= 1.18.0, < 2
mfd-dmesg >= 1.20.0, < 2
mfd-ethtool >= 3.14.0, < 4
mfd-event-log >= 0.9.0, <1
mfd-kernel-namespace >= 1.8.0, < 2
mfd-model[config] >= 0.9.0, < 1
mfd-package-manager >= 3.0.0, < 4
mfd-sysctl >= 1.6.0, < 2
mfd-typing >= 1.23.0, < 2
mfd-win-registry >= 1.17.0, < 2
mfd_libibverbs_utils >= 1.6.0, < 2
mfd_packet_capture >= 2.16.0, < 3
netaddr >= 0.8.0
pyyaml >= 6.0